.btn:hover {
  background-color: inherit !important;
  color: inherit !important;
  border-color: inherit !important;
  box-shadow: none !important;
}

/* Button styles */
.basic-btn{
  padding: 10px 20px;
  border-radius: 5px ;
  font-family: 'FiraGO';
  font-weight: 400;
  letter-spacing: 0;
  line-height: 100%;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #8338EC;
  color: #212529;
}
/*.btn-transparent:hover{*/
/*  background-color: #8338EC;*/
/*  color: #FFFFFF;*/
/*}*/

.btn-violent {
  background-color: #8338EC;
  border: 1px solid #8338EC;
  color: #FFFFFF;
}

/*.btn-violent:hover {*/
/*  background-color: transparent;*/
/*  border: 1px solid #8338EC;*/
/*  color: #212529;*/
/*}*/

.dropdown-item{
  border: none;
}
.filter-row{
  border: 1px solid #DEE2E6;
  border-radius: 10px;
  justify-content: center;
  padding-block: 5px;
  position: relative;
}
.filter-dropdown{
  position: static;
}

.dropdown-manu{
  margin-top: 10px;
  width: 100%;
  left: 0;
}

.task-card-header, .task-card-footer, .task-card-body{
  background-color: transparent;
  border: none;
  padding: 0;
}

.level-btn{
  padding: 4px;
  background-color: transparent;
  border-width: 0.5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
}
.department-btn {
  padding: 5px 9px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
}

.due-date{
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0;
  white-space: nowrap;
}

.detail-page-title{
  color: #212529;
  font-size: 34px;
  font-family: 'Inter';
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.detail-page-desc{
  color: #000000;
  font-size: 18px;
  font-family: 'FiraGO';
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

.detail-page-subtitle{
  color: #212529;
  font-size: 24px;
  font-family: 'FiraGO';
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  margin-top: 30px;

}

.detail-page-icon{
  width: 32px;
  height: 32px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center center;

}

.detail-page-span-text{
  color: #0D0F10;
  font-size: 14px;
  font-family: 'FiraGO';
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

.detail-page-span-text-gray{
  color: #474747;
  font-size: 16px;
  font-family: 'FiraGO';
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}
.detail-page-employ-dep{
  color: #474747;
  font-size: 11px;
  font-family: 'FiraGO';
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.comments-container{
  background-color: #F8F3FEA6;
  border: 0.3px solid #DDD2FF;
  border-radius: 10px;
}
.add-comment-input{
  padding-right: 100px;
  border: 0.3px solid #ADB5BD !important;
  border-radius: 10px;
  padding-top: 20px;
}
.add-comment-input::placeholder{
  color: #898989;
  font-size: 14px;
  font-family: 'FiraGO';
  font-weight: 350;
  line-height: 100%;
  letter-spacing: 0;
}

.comment-btn{
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #8338EC;
  border: 0.5px solid #8338EC;
  color: #FFFFFF;
  font-weight: 400;
}
.comment-count-btn{
  padding: 10px;
  border-radius: 30px;
  background-color: #8338EC;
  border: 0.5px solid #8338EC;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.comments-section-subtitle{
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  font-family: 'FiraGO';
}
.answer-btn{
  color: #8338EC;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  font-family: 'FiraGO';
  text-decoration: none;
}