/* Button styles */
.basic-btn{
  padding: 10px 20px;
  border-radius: 5px ;
  font-family: 'FiraGO';
  font-weight: 400;
  letter-spacing: 0;
  line-height: 100%;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #8338EC;
  color: #212529;
}
.btn-transparent:hover{
  background-color: #8338EC;
  color: #FFFFFF;
}

.btn-violent {
  background-color: #8338EC;
  border: 1px solid #8338EC;
  color: #FFFFFF;
}

.btn-violent:hover {
  background-color: transparent;
  border: 1px solid #8338EC;
  color: #212529;
}

.dropdown-item{
  border: none;
}
.filter-row{
  border: 1px solid #DEE2E6;
  border-radius: 10px;
  justify-content: center;
  padding-block: 5px;
  position: relative;
}
.filter-dropdown{
  position: static;
}

.dropdown-manu{
  margin-top: 10px;
  width: 100%;
  left: 0;
}